# Игнорируем специфичные для Git файлы
.git
.gitignore

# Игнорируем специфичные для IDE файлы
.vscode
.idea

# Игнорируем кэш Python
__pycache__
*.pyc

# Игнорируем локальное виртуальное окружение
.venv
venv