# Файл: .dockerignore

# Исключаем локальные виртуальные окружения Python
**/__pycache__/
**/.venv/
**/venv/
**/env/

# Исключаем кэш pytest
**/.pytest_cache/

# Исключаем специфичные для IDE файлы
.vscode/
.idea/

# Исключаем Git
.git/
.gitignore

# Исключаем локальный файл .env, чтобы случайно не скопировать секреты в образ
.env